<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div>
    <h2>Contraseña generada</h2>
    <br>
    <div class="container">
        <p class="password-display" id="password-display">{{password}}</p>
        <img class="reload-svg-2" src="/images/refresh-ccw-2.svg" alt="reload">
        <button class="btn  copy-password" id="copy-button">Copiar contraseña</button>
    </div>
    <div class="container">
        <input class="passwordLengthSlider" type="range" id="passwordLengthSlider" min="8" max="30" value="12">
        <span class="passwordLengthLabel-2" id="passwordLengthLabel">Longitud: 12</span>
        <button class="btn sliderSelect-2">Seleccionar longitud de contraseña</button>
    </div>
</div>
<br>
<br>
<br>
<script src="/js/alphanumericPasswords.js"></script>
</body>
</html>
