<div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-md">
       
        <a href="/passwords/alphabetic" class="generate-alphabetic-password btn btn-primary" >Generar contraseña alfabetica</a> 
        {{!-- Separacion entre generadores de contraseñas --}}
        <a href="/passwords/numeric" class="btn btn-primary generate-numeric-password">Generar contraseña numerica</a>
        {{!-- Separacion entre generadores de contraseñas --}}
        <a href="/passwords/alphanumeric" class="btn btn-primary generate-numeric-password">Generar contraseña alfanumérica</a>
    </div>
    
</div>